---
import { Image } from 'astro:assets';
import working from '../graphics/about/working.webp';
import shapes from '../graphics/clouds_star_twirl_1.svg';
import crowdLarge from '../graphics/about/crowd_large.webp';
import fourppl from '../graphics/about/fourppl.webp';
import bear from '../graphics/about/bear.webp';
import tools from '../graphics/about/tools.webp';
import crowd from '../graphics/about/crowd.webp';
---

<section>
  <h4 id="about">ABOUT US</h4>
  <div class="spacer"></div>
  <div class="header">
    <h3>
      At Hack for Impact, you will join over
      <div class="text">300+ hackers</div>
      at UC Berkeley to innovate for social good.
    </h3>
  </div>

  <div class="imageRow">
    <Image class="img" src={working} alt="Group of 5 people coding" />
    <Image
      class="img"
      src={crowdLarge}
      alt="Large group of people coding at hackathon"
    />
    <Image class="img" src={fourppl} alt="Picture of CalHacks members" />
    <Image
      class="img"
      src={bear}
      alt="Hackathon attendees posing with stuffed bear"
    />
    <Image class="img" src={tools} alt="Girl with tools" />
    <Image
      class="img"
      src={crowd}
      alt="Large group of people coding at hackathon"
    />
  </div>

  <Image class="shape" src={shapes} alt="" />
  <div class="mission-vision">
    <div class="bigRow">
      <h2 class="left">Our Vision</h2>
      <p>
        To solve the most pressing challenges of our world, we will need the
        best and the brightest minds to work collaboratively on creative,
        ethical, and technical solutions that will propel humanity forward. Our
        audience is anyone, anywhere, who believes that technology can solve
        hard problems, grow prosperity, and expand human possibilities.
      </p>
    </div>
    <div class="bigRow">
      <h2 class="left">The Mission</h2>
      <div>
        <p>
          Hack for Impact 2024 is a 1-day hackathon co-hosted by Blueprint and
          Cal Hacks at UC Berkeley. The event’s mission is two-fold:
        </p>
        <div class="captionRow">
          <div class="image-placeholder"></div>
          <p>
            To <b>empower</b> student hackers to develop creative solutions for relevant
            social causes and collaborate with non-profit organizations on ethical
            innovation with tangible community impact.
          </p>
        </div>
        <div class="captionRow">
          <div class="image-placeholder"></div>
          <p>
            To <b>educate</b> students via a <b
              >series of workshops and speaker panels</b
            >
            to learn about professional opportunities in social good, as well as
            emerging technologies and their ethical aspects.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @use '../styles/colors';
  @use '../styles/fonts';
  @use '../styles/breakpoints';

  section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 5rem;
    overflow-x: hidden;
  }

  div.spacer {
    height: 1.5rem;
  }

  div.mission-vision {
    width: 100%;
    padding-inline: 20px;

    @media (min-width: breakpoints.$tablet) {
      padding-inline: 20%;
    }
  }

  div.bigRow {
    margin-top: 8.3125rem;
    display: flex;
    flex-direction: row;
    gap: 0 6.125rem;
    text-align: left;
  }

  .image-placeholder {
    background-color: colors.$secondary;
    min-width: 10.5rem;
    height: 7.0625rem;
  }

  h2.left {
    display: inline-block;
    min-width: 12rem;
  }

  div.captionRow {
    display: flex;
    flex-direction: row;
    margin-top: 3.75rem;
    gap: 0 1.5rem;
  }

  div.text {
    font-family: fonts.$serif;
    font-weight: 600;
    display: inline-block;
  }

  div.captionRow {
    display: flex;
    flex-direction: row;
    margin-top: 3.75rem;
    gap: 0 1.5rem;
  }

  div.spacer {
    height: 1.5rem;
  }

  div.header {
    display: inline-block;
    width: 100%;
    padding-inline: 20px;

    @media (min-width: breakpoints.$tablet) {
      padding-inline: 20%;
    }
  }

  div.header h2 {
    display: inline-block;
  }

  div.imageRow {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin-top: 74px;
  }

  .img {
    border-radius: 8px;
    width: 264px;
    height: 171px;
    object-fit: cover;
  }

  .shape {
    position: absolute;
    left: 0px;
    bottom: 88px;
  }
</style>
